@charset "UTF-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("font-awesome.css");

body {
	font-family: 'Roboto', sans-serif;
	color: #091744;
	font-size: 18px;
	font-weight: 400;
}
footer {
	min-height: 95px;
	padding: 20px 0px;
	font-size: 16px;
	color: #fff;
}
h1, h2, h3 {
	color: #1C3997 !important;
	text-transform: uppercase;
}
h4, h5, h6 {
	color: #091744 !important;
	text-transform: uppercase;
}

.bgAzulEscuro {
	background-color: #1C3997;
}
.AzulEscuro {
	color: #1C3997;
}
.bgAzulClaro{
	background-color: #88F2EE;
}
.AzulClaro{
	color: #88F2EE;
}
#juridico a {
	color: #FFF;
}
#maisLidas {
	padding: 18px;
}
footer .btn {
	color: #FFF;
}
#Form1 .btn-primary {
	background-color: #88F2EE ;
	border-color: #88F2EE;
	color: #1C3997;
	float: right;
}
#maisLidas h5 {
	text-transform: none;
}

#Form1 .form-control {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
}
#Form1 .form-control {
	border-bottom: solid #707070 1px;
}
.nav-link{
	color: #1C3997 !important;
}
#post {
	text-align: justify;
}