@charset "UTF-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("font-awesome.css");

body {
	font-family: 'Roboto', sans-serif;
	color: #091744;
	font-size: 1em;
	font-weight: 300;
}
footer {
	min-height: 95px;
	padding: 20px 0px;
	font-size: 0.941em;
	color: #fff;
}
h1, h2, h3 {
	color: #1C3997 !important;
	text-transform: uppercase;
    font-weight: 700;
}
h4, h5, h6 {
	color: #091744 !important;
	text-transform: uppercase;
}
a:visited {
	color: #88F2EE;
}
.bgAzulEscuro {
	background-color: #1C3997;
}
.AzulEscuro {
	color: #1C3997;
}
.bgAzulClaro{
	background-color: #88F2EE;
}
.AzulClaro{
	color: #88F2EE;
}
#juridico a {
	color: #FFF;
}
footer .btn {
	color: #FFF;
}
.postHome .btn-primary a, .postHome .btn-primary {
    color: #FFFFFF !important;
	background-color: #1C3997 ;
	border-color: #1C3997;
	color: white;
	float: right;
}
.postHome .btn-primary a:visited, postHome .btn-primary {
    color: #FFFFFF !important;
}
#Form1 .btn-primary {
    width: 100%;
	background-color: #1C3997 ;
	border-color: #1C3997;
	color: white;
	float: right;
}
#Form2 .btn-primary {
	background-color: #88F2EE ;
	border-color: #88F2EE;
	color: #1C3997;
}
#maisLidas h5 {
	text-transform: none;
	font-size: 16px;
}
#Form1 .form-control,#Form2 .form-control  {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
}
#Form1 .form-control,#Form2 .form-control  {
	border-bottom: solid #707070 1px;
}
.nav-link{
	color: #1C3997 !important;
}
.vermelho {
	color: red;
}
.verde {
	color: darkgreen;
}

.linha {
    border: 0px ;
    border-bottom: solid #1C3997 1px;
}
.no-header {
    border-radius: 0.3rem;
    padding: 2rem;
}
#FormOk{
	background-color: #1C3997;
    color: #FFFFFF;
    text-align: center;
}
#FormErro{
	background-color: #c41616;
    color: #FFFFFF;
    text-align: center;
}
#FormOk h1{
    color: #88F2EE !important;
    text-transform: none;
    font-size: 3.5em;
}
#FormErro h1{
    color: #EBB850 !important;
    text-transform: none;
    font-size: 3.5em;
}
a.AzulClaro:hover {
    color: white;
}
span.fa.fa-facebook {
    font-size: 1.4em;
}
.postHome {
    border-bottom: 1px solid #AEAEAE;
    margin-top: 3%;
    padding-bottom: 3%;
}
.mb-5, .my-5 {
    margin-bottom: 5rem!important;
}
h2 {
    margin-top: 4%;
}
.mb-3, .my-3 {
    margin-bottom: 2rem!important;
}
.table .thead-light th {
    width: 50%;
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
h1.mt-5 {
    color: #1C3997!important;
}